In [ ]:
#python--version

founder:guido van rossum

fundamentals of python
1. interger
2. varables
3. functions
4. datatype
5. input(),print()
6. float
7. typecasting: to change value from one data type to another the cast of the thing

VARIABLES:
this is  a container to store values
a=56
b='sam'
c=78.00

(a)Global variable
--> entrirely modify
(b)Local Variable
-->specific block of code modify.

datatype;
(a) interger:...>all positive and negetive interger
ex. 23,34,,44
(b). Float---> all decimal values
ex---> 34.5

(c)string:  'single qoutes', "double_qoutrs", '''triple_quotes'''

 (D) Boolean:--> true,false
 ex: 5>4: true

In [ ]:
#typecasting
a=67
type(a)
b=float(a)
type(b)
b

67.0

In [ ]:
#print()function:

a=1
print(a)
print("printing a")
b=2
print("printing b")
print(b)

1
printing a
printing b
2

In [ ]:
a= int(input("enter 1st unmber:"))
b=int(input("enter2 nd nuber"))
c=a+b
c
#this is type casting

enter 1st unmber: 12
enter2 nd nuber 12

24

In [ ]:
a= (input("enter 1st unmber:"))
b=(input("enter2 nd nuber"))
c=a+b
c

enter 1st unmber: 12
enter2 nd nuber 12

'1212'

commnly used operators:
1. Add: 5+3=8
2. sub: 5-3=2
3. mul : 5*3=15
4. division: 5/3=1.6
5. floor division(//) --> round 5//3 =1
6. module(%)--> remandier cal =  25%10=5(rem)
7. equal to (=) --> assgin values a=10,b='aan'
8. eqal equal to (==)--> for comparsion
9. not equal to (!=) --> 'sam'!=10
10. grater than  5>4
11. less than   4<5
12. greater than or equalto >=
13. less than or equal to <=

conditional satement in python
1. if
2. else
3. elif

In [ ]:
#ex.1

a=input("enter ur name")
if(a=='sam'):
 print("yes")
elif(a=='rahul'):
 print("no")
elif(a=='ankit'):
 print("ok")
else:
 print("print a valid name...")

enter ur name ankit

ok

In [ ]:
#ex2

print("we provide these items: pizza,burger,icecream,sandwich")
print("MENU: Pizza=100 , burger=50 ,icecream=50,sandwich=100")



a=input("enter your item:  ")

if(a=="pizza"):
  print("pizza is availbale")
  b=int(input("enter the number : "))
  print("total price : ", b*100)
  c=b*100
  if(c<=1000):
    print("your 10% discounted price  is : ", c-(c*0.1))
  elif(1000<c<2000):
    print("your 10% discounted price  is : ", c-(c*0.1))
  elif(c>=2000):
    print("your 20% discounted price  is : ", c-(c*0.2))
  elif(c>1000):
   print("your price  is : ", c)

#for burger
elif(a=="burger"):
 print("burger is availbale")
 b=int(input("enter the number : "))
 print("total price : ", b*50)
 c=b*50
 if(c<1000):
    print("your amount is",c)
 elif(1000<c<2000):
  print("your 10% discounted price  is : ", c-(c*0.1))
 elif(c>=2000):
  print("your 20% discounted price  is : ", c-(c*0.2))
 elif(c>=1000):
  print(" you have given 10% discount", c-(c*0.1))

#for icecream
elif(a=="icecream"):
 print("icecream  is availbale")
 b=int(input("enter the number : "))
 print("total price : ", b*50)
 c=b*50
 if(c<1000):
    print("your amount is",c)
 elif(1000<c<2000):
  print("your 10% discounted price  is : ", c-(c*0.1))
 elif(c>=2000):
  print("your 20% discounted price  is : ", c-(c*0.2))
 elif(c>=1000):
  print(" you have given 10% discount", c-(c*0.1))

#for sandwich
elif(a=="sandwich"):
 print("sandwich is availbale")
 b=int(input("enter the number : "))
 print("total price : ", b*100)
 c=b*100
 if(c<1000):
    print("your amount is",c)
 elif(1000<c<2000):
  print("your 10% discounted price  is : ", c-(c*0.1))
 elif(c>=2000):
  print("your 20% discounted price  is : ", c-(c*0.2))
 elif(c>=1000):
  print(" you have given 10% discount", c-(c*0.1))

else:
 print("invalid item")

we provide these items: pizza,burger,icecream,sandwich
MENU: Pizza=100 , burger=50 ,icecream=50,sandwich=100
enter your item:  icecream
icecream  is availbale
enter the number : 10
total price :  500
your amount is 500

In [ ]:
a=100
b=100*0.1
b
c=a-b
c

90.0

In [ ]:
#student information system
#user (pyhton , java , mernstack)
#--> fees, timeduration

In [ ]:
print(" hello there please select your course: ")
print("1.python")
print("2.java")
print("3.mernstack")
a=(input("enter your course: "))
if(a=='python'):
 print("your have selected python , the course fee is 1000rs and the duration is 3 months")
elif(a=='java'):
 print("your have selected java , the course fee is 2000rs and the duration is 4 months")
elif(a=='mernstack'):
 print("your have selected mernstack , the course fee is 3000rs and the duration is 5 months")
else:
 print("invalid course")

 hello there please select your course:
1.python
2.java
3.mernstack
enter your course: mern
invalid course

In [ ]:
#loops in python

In [ ]:
#1. for loop
#index=0 , length=1
#starting values will include and last value will exclude

In [ ]:
#method-1
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

here 2 is the gap

In [ ]:
#nested for looop

In [ ]:
for i in range(3):
  for j in range(2):
    print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

In [ ]:
i = input("enter your name: ")
print(f"hello , {i}, thank you for reaching out")

enter your name: aman
hello , aman, thank you for reaching out

In [ ]:
#star pattern :

In [ ]:
n= 5
for i in range(1,n+1):
  print("*"*i)

*
**
***
****
*****

In [ ]:
#hollow star pattern

In [ ]:
n=5
for i in range (1,n+1):
  if i==1 or i==n:
   print("*" * i)#for 1st and last rows
  else:
    print("*" + " " * (i-2) + "*")#middle rows with sapces

*
**
* *
*  *
*****

In [ ]:
#pyramid pattern

In [ ]:
n=5
for i in range(1,n+1):
  print(" " * (n-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
# n=5 ,i=1
#  " "*(5-1)+" *" * (2*1-1)

#this is the logic

In [ ]:
#While Loop

#1. initialization
#2.condition
#3.increment or decrement

In [ ]:
#printing 1 to 4
i=1
n=4
while i<=n : #condition
  print(i)
  i=i+1 #increment

1
2
3
4

In [ ]:
i = int(input("enter a number: "))
n=int(input("enter last  number: "))
p= int(input("enter the gap: "))
while(i<=n):
  print(i)
  i=i+p

enter a number: 1
enter last  number: 20
enter the gap: 5
1
6
11
16

In [ ]:
#reversing the numbers

In [ ]:
i= 5
n=1
while(i>=n):
  print(i)
  i=i-1

5
4
3
2
1

In [ ]:
#sum of elements
i=1
n=4
sum=0
while(i<=n):
 sum=sum+i
 i=i+1
print(sum)

10

In [ ]:
print("enter your name")
name=input()
print("hello",name)

enter your name
aman
hello aman

In [ ]:
#take three variable:

a=int(input("enter 1st value"))
b=int(input("enter 2nd value "))
c=int(input(" enter 3d value"))

if (a>b and a>c):
  print("a is greater: ")
elif(b>a and b>c):
  print("b isgreater: ")
else:
  print("c is greaterr: ")

enter 1st value20
enter 2nd value 40
 enter 3d value50
c is greaterr

In [ ]:
x=10                                                     #pyhton is a dynamic typed programming language
if(x>=10):                                                   #automatically detect  datatype at runtime
  print("hello")

hello

In [ ]:
x=8                                                    #pyhton is a dynamic typed programming language
if(x>=10):                                                   #automatically detect  datatype at runtime
  print("hello")
else:
  print("false condition")

false condition

In [ ]:
x=12
y=20
x>10 and y>15

True

In [ ]:
x=5
y=20
if(x>10 or y>15):
  print("hello")
else:
  print("false condition")

hello

In [ ]:
# prompt: #variable is multiple of 2 and 6 print hi otherwise bye

x=int(input("enter a number"))
if(x%2==0 ):
  print("hi")
elif(x%6==0):
  print("hello")
else:
  print("bye")

enter a number17
bye

In [ ]:
# take a varialbe name as age if
#age>10 print child
# age>18 adult
#age>30 mature
#age >60 old citizen
#else infant

age=int(input("enter your age"))
if(age<=10 and age>=18):
  print("child")
elif(age>=18):
    print("adult")
elif(age>=30):
   print("mature")
elif(age>=60):
  print("old citizen")
else:
   print("infant")

enter your age20
adult

In [ ]:
#nested if else
age=int(input("enter your age"))
if(age>=5):
  print("addhar card is printed")
  if(age>=18):                                                       #be sure of any indentation
    print(" aadhar card  + pan card can be  linked")
  else:
    print("pan card not created")
else:
  print("age is small")

enter your age60
addhar card is printed
 aadhar card  + pan card can be  linked

In [ ]:
#if a number is div by2 print div by 2
#if a number is div by 3 print div by 6
#other wise number is not divisibele by 2 or 3

num=int(input("enter a number"))
if(num%2==0):
  print("this number is divisible by 2")
  if(num%3==0):
    print("this number is divisible by 3")
  else:
    print("this num is divisible by 6")
else:
  print("this num is not divisibele by 2 or 3")

enter a number12
this number is divisible by 2
this number is divisible by 3

In [ ]:
print("hey " , end= "- ")
print("hello")

hey - hello

In [ ]:
#learning assginmetn

#diff bw py ver2 and ver3 of pyhton

In [ ]:
#slicing opertors
 #  right to left   ....-5-4,-3-2,-1
city ="RAJASTHAN"
    #  012345678.... left to right

print(city[0:3])
      #starting value: stopping value
print(city[0])

RAJ
R

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[2:5:1])
      #starting value: stopping value: skipping value(steep six=ze)
print(city[0])

JAS
R

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[:4])

RAJA

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[2:7:3])
#0 +2 =>2 ,

JT

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[0:4:-1])
#0 -1 => -1
#empty striing

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[-1:-3])
#-1+1=>0

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[-1:-3:-1])
#-1+ -1=> -2

NA

In [ ]:
city ="RAJASTHAN"
    #  012345678.... right to left
print(city[:])
print(city[::-1])

RAJASTHAN
NAHTSAJAR

In [ ]:
#airthmetic

2*2*2
2**3

10/2 #normal division
10//2 #floor division givies answer in interger

5

In [ ]:
11//2+5-1

9

In [ ]:
#comparison operators
#assginment opererators
x=10
x+15 #x+=15

print(x)

10

In [ ]:
y=6
y/=3   #y=y/3 or y//=3
print(y)

2.0

In [ ]:
#logical operators
#and or not
#and takes all coditions as true

In [ ]:
#membership operator

"y" in "yash"
"z" in "yash"
"Y" in "yash"
"Y" not in "yash"
#checks y in yash

True

In [ ]:
# identity operators
#check wheater a variable is a instance of a class  or not
# to check the same memory address
x=10
#print(type(x))
type(x) is int
type(x) is not str

False

In [ ]:
#bitwise operator
# 2 bits in comp (0,1)(f,t)

#8421 =>0-15
# 128 64 32 16       8421=> 0-255
                       #8421
        #11           #1011
        #14           #1110
        #--------------------
       # 11 & 14      1010
                     # 8421
                  #---> 8+2=10
11 & 14  #--> gives ten ,  check the binary of the number, add them , and the resultant number will be the ans

10

In [ ]:
13 & 7

5

In [ ]:
10|14     #used or logic

14

In [ ]:
# right bitwise shift ( right to left)
#number // 2 **bit
# 54>>3
#54 // 2**3
# 54//8 ==> 6

54>>3

6

In [ ]:
# left shift (left to right)
# num*2**bit

In [ ]:
#LOOPS IN PYTHON

In [ ]:
#FOR LOOPS
#range( satarting value , stopping value , [step=1])
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(6,11,2):     #6+2 steeping value
  print(i)

6
8
10

In [ ]:
for i in range(50,11,-1):
  print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12

In [ ]:
total=0
for i in range(1,11):
  total+=i
print(total)

55

In [ ]:
 #count 70 till 3
# 3 and 70 must not be included
count=0
for i in range(4,70):  #()
    count+=1
print(count)

66

In [ ]:
#divisibe by 3
#1 , 13

for i in range(1,14):
  if(i%3==0):
    print(i)

3
6
9
12

In [ ]:
#55 to 22
#print the total of all even and odd numbers


even_sum = 0
odd_sum = 0

for i in range(22, 56):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print("Sum even numbers:", even_sum)
print("Sum odd numbers:", odd_sum)

Sum even numbers: 646
Sum odd numbers: 663

In [ ]:
# learinig
#1. yt check diff bw call by value and call by refence
#2. what is ascii values and UTF values
#3. diff data type in python
#4. diff bw is operator and == operator
#perpare for test

In [ ]:
a = [1, 2, 3]
b = a
print(a is b)  # True, because both `a` and `b` refer to the same object.

True

In [ ]:
#for on string
data = "regex"
for i in data:
    print(i)

r
e
g
e
x

In [ ]:
data = "regex"
#data[1]
for i in range(0,5):
    print(i,data[i])

0 r
1 e
2 g
3 e
4 x

In [ ]:
data = "regexsoftware"

for i in range(0,len(data)):  #-->len= gives the length of the string
    print(i,data[i])

0 r
1 e
2 g
3 e
4 x
5 s
6 o
7 f
8 t
9 w
10 a
11 r
12 e

In [ ]:

#take a string and print all the vovels
string = "regexsoftware"
for i in range(0, len(string)):
    if(string[i] == 'a' or string[i] == 'e' or string[i] == 'i' or string[i] == 'o' or string[i] == 'u'):
        print(i, string[i])

1 e
3 e
6 o
10 a
12 e

In [ ]:
#for printing consonant and counting it
string="regexsoftware"
count=0
for i in string:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
    print(i)
  else:
    print("consonant")
    count+=1
    print(count)
print(i)

consonant
1
e
consonant
2
e
consonant
3
consonant
4
o
consonant
5
consonant
6
consonant
7
a
consonant
8
e
e

In [ ]:
x = "rajasthan"
mid = len(x) // 2
for i in range(mid):
    print(x[i])

r
a
j
a

In [ ]:
for i in range(1,5):
  print(i)
  break
print("outside loop")

1
outside loop

In [ ]:
for i in range(1,5):
  if(i==2):
    continue
    print("####")
  else:
    print(i)
print("outside loop")

1
3
4
outside loop

In [ ]:
for i in range(1,21):
  if(i%3==0):
    break
    print(" ")
  else:
    print(i)
print("outside loop")

1
2
outside loop

In [ ]:
#take a number and check if its a prime number
x=int(input("enter ur number: "))
for i in range(2,x):
  if(x%i==0):
    print("num is not prime")
    break
  else:
    print("the num is prime")

enter ur number: 15
prime
not prime

In [ ]:
#2nd approach
x=int(input("enter ur number: "))
a=0

for i in range(2,x):
  if(x%i==0):
    a=1
    break

if(a==1):
  print("not prime")
else:
    print("prime num : ", x)

enter ur number: 3
prime num :  3

In [ ]:
#whlie Loop
#used whenn not know finite iteration (range not fixed)
#while(condition):
#true

In [ ]:
#using while loop for prime number
i=1
while(i<5):     #condi
   print(i)
   i+=1

1
2
3
4

In [ ]:
# to find starting 5 num divisibele by 3
i=1
count=0
while(count<5):
  if(i%3==0):
    print(i)
    count+=1
  i+=1

3
6
9
12
15

In [ ]:
#take a number and increment the number untill 100 and write  the numbers with addition
x=int(input("enter a number"))
count=0
while(x<100):
  count+=1
  x+=1

enter a number4

In [ ]:
number = 4
while (number <= 100):
    print("Current number:", number)
    number += 1

Current number: 4
Current number: 5
Current number: 6
Current number: 7
Current number: 8
Current number: 9
Current number: 10
Current number: 11
Current number: 12
Current number: 13
Current number: 14
Current number: 15
Current number: 16
Current number: 17
Current number: 18
Current number: 19
Current number: 20
Current number: 21
Current number: 22
Current number: 23
Current number: 24
Current number: 25
Current number: 26
Current number: 27
Current number: 28
Current number: 29
Current number: 30
Current number: 31
Current number: 32
Current number: 33
Current number: 34
Current number: 35
Current number: 36
Current number: 37
Current number: 38
Current number: 39
Current number: 40
Current number: 41
Current number: 42
Current number: 43
Current number: 44
Current number: 45
Current number: 46
Current number: 47
Current number: 48
Current number: 49
Current number: 50
Current number: 51
Current number: 52
Current number: 53
Current number: 54
Current number: 55
Current number: 56
Current number: 57
Current number: 58
Current number: 59
Current number: 60
Current number: 61
Current number: 62
Current number: 63
Current number: 64
Current number: 65
Current number: 66
Current number: 67
Current number: 68
Current number: 69
Current number: 70
Current number: 71
Current number: 72
Current number: 73
Current number: 74
Current number: 75
Current number: 76
Current number: 77
Current number: 78
Current number: 79
Current number: 80
Current number: 81
Current number: 82
Current number: 83
Current number: 84
Current number: 85
Current number: 86
Current number: 87
Current number: 88
Current number: 89
Current number: 90
Current number: 91
Current number: 92
Current number: 93
Current number: 94
Current number: 95
Current number: 96
Current number: 97
Current number: 98
Current number: 99
Current number: 100

In [ ]:
n=int(input("enter your num"))
count=0
while(count<10):
  if(n%2==0 and n%6==0 and n%7==0):
    print("divisible by 2,6,7",n)
    count+=1
  n+=1

enter your num42
divisible by 2,6,7 42
divisible by 2,6,7 84
divisible by 2,6,7 126
divisible by 2,6,7 168
divisible by 2,6,7 210
divisible by 2,6,7 252
divisible by 2,6,7 294
divisible by 2,6,7 336
divisible by 2,6,7 378
divisible by 2,6,7 420

In [ ]:
#while loop can be infinte
a=3
b=7
num=1
while(True):     #true with while checks infinite times
  if(num%a==0 and num%b==0):
    print("divisible:",num)
    break
  num+=1

divisible: 21

In [ ]:

#take 2 num and find out lcm of 2 numbers
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

if a > b:
  greater = a
else:
  greater = b

while True:
  if greater % a == 0 and greater % b == 0:
    lcm = greater
    break
  greater += 1

print("The LCM of", a, "and", b, "is", lcm)

Enter the first number: 5
Enter the second number: 9
The LCM of 5 and 9 is 45

In [ ]:
#pallindrome
data="NAMAN"
start=0
end=len(data)-1
x=False #by default value is true #checking value
while(start<end):
  if(data[start]!=data[end]):
    x+=1
    break
  start+=1
  end-=1
if(x==0):
  print("pallindrome")
else:
  print("not pallindrome")

pallindrome

In [ ]:
#nested loops#
for x in  range(1,5):
    print(x)
    for y in range(1,3):
        print("food")

1
food
food
2
food
food
3
food
food
4
food
food

In [ ]:
#nested loops#
for x in  range(1,5):
    print("employee",x)
    for y in range(1,x+1):    #(1,2) ,  (1,1)-->X
        print("food coupon ",y)

employee 1
food coupon  0
employee 2
food coupon  0
food coupon  1
employee 3
food coupon  0
food coupon  1
food coupon  2
employee 4
food coupon  0
food coupon  1
food coupon  2
food coupon  3

In [ ]:
#APPROACH 2 BY MAKING A VARIABLE
num=1
for x in range(1,5):
  print("employee",x)
  for y in range(4,x-1,-1):
    print("food coupon",y)
    num+=1

employee 1
food coupon 4
food coupon 3
food coupon 2
food coupon 1
employee 2
food coupon 4
food coupon 3
food coupon 2
employee 3
food coupon 4
food coupon 3
employee 4
food coupon 4

In [ ]:
#printing a table of num
num=int(input("enter yor num"))
for i in range(1,11):
  print(num,"*",i,"=",num*i)

enter yor num5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#print table from 2 to 7
for i in range(2,8):
  print("table of",i)
  for j in range(1,11):
    print(i,"*",j,"=",i*j)

table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
table of 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ", end="")
  for k in range(1,i+1):
    print("*", end=" ")
  print("")

   *
  * *
 * * *
* * * *

In [ ]:
for i in range(4, 0, -1):
    for j in range(i,5):
        print(" ", end="")
    for k in range(1, i + 1):
        print("* ", end=" ")
    print("")

 *  *  *  *
  *  *  *
   *  *
    *

In [ ]:
# Loop through the number of rows
for i in range(1, 5):
    for j in range(i, 4):
        print(" ", end="")
    for k in range(1, i + 1):
        print(chr(64 + k), end="")
    print("")

   A
  AB
 ABC
ABCD

In [ ]:
#right angle triangle
for i in range(1, 5):
    for j in range(i, 4):
        print(" ", end="")
    for k in range(1, i + 1):
        print("*", end="")
    print("")

   *
  **
 ***
****

In [ ]:
#hollow right angled triangle
h= 5

for i in range(h):
    for j in range(h):
        if j == 0 or j == i or i == h - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [ ]:
#LISTS = COLLECTION OF ELEMENTS
#STORED BASED ON INDEX POSITION
#MUTABLE DATA TYPE(CANGEABLE)
#SEQUENCE DATATYPE

X=[10,20,30,40,"hey",100.0]
print(type(X))

<class 'list'>

In [ ]:
X=[10,20,30,40,"hey",100.0]
print(X[0:3])

[10, 20, 30]

In [ ]:
X=[10,20,30,40,"hey",100.0]
X[0]=90   #update the data value
print(X)

[90, 20, 30, 40, 'hey', 100.0]

In [ ]:
X=[10,20,30,40,"hey",100.0]
X.append(500)  #add in the data value
print(X)

[10, 20, 30, 40, 'hey', 100.0, 500]

In [ ]:
X=[10,20,30,40,"hey",100.0]
X.extend("hello")
X.extend(["hello",999])  #add multiple  in the data value    #hello is an iterable #an integer is never an iterable
print(X)

[10, 20, 30, 40, 'hey', 100.0, 'h', 'e', 'l', 'l', 'o', 'hello', 999]

In [ ]:
X=[10,20,30,40,"hey",100.0]
z=X.pop() #remove in the data value
y=X.pop()
w=X.pop(0) #remove in the data value with index
print(X,"z:",z,"y:",y,"w:",w)

[20, 30, 40] z: 100.0 y: hey w: 10

In [ ]:
#to delete dirrectly a element
X=[10,20,30,40,"hey",100.0]
X.remove(10)
print(X)

[20, 30, 40, 'hey', 100.0]

In [ ]:
X=[10,20,30,40,"hey",100.0]
for i in X:
  print(X)

[10, 20, 30, 40, 'hey', 100.0]
[10, 20, 30, 40, 'hey', 100.0]
[10, 20, 30, 40, 'hey', 100.0]
[10, 20, 30, 40, 'hey', 100.0]
[10, 20, 30, 40, 'hey', 100.0]
[10, 20, 30, 40, 'hey', 100.0]

In [ ]:
X=[10,20,30,40,"hey",100.0]
for i in range(0,len(X)):
  print(i,X[i])

0 10
1 20
2 30
3 40
4 hey
5 100.0

In [ ]:
X=[10,20,30,40,"hey",100.0]
for i in range(0,len((X))):
   if type(i)==int:
    print(i)

0
1
2
3
4
5

In [ ]:
mylist=[10,20,4,7,5,12]
list=[]
for i in range(0,len(mylist)-1):
  if(mylist[i]>mylist[i+1]):
    list.append(mylist[i])
print(list)

[20, 7]

In [14]:
#swaping in largest in list
Alist=[10,20,4,70,500,12,850]
for i in range(0,1):
  for j in range(i+1,len(Alist)):
    if(Alist[i]<Alist[j]):
      temp=Alist[j]
      Alist[j]=Alist[i]
      Alist[i]=temp
print(Alist)

####
####
####
####
[850, 10, 4, 20, 70, 12, 500]

In [15]:
#approach 2
mylist=[10,20,4,7,5,12]
maxi=mylist[0]
for i in range(0,len(mylist)):
  if(maxi<mylist[i]):
    maxi=mylist[i]
print(maxi)

20

In [21]:
#seccond highest element
Blist=[10,30,500,70,60,100]
x=Blist[0]
y=0
for i in range(0,len(Blist)):
  if(x<Blist[i]):
    y=x
    x=Blist[i]
  elif(y<Blist[i]):
    y=Blist[i]
print("second highest element is",y)

second highest element is 100

In [ ]:
#time complexicity ?
#calculating the time complexicity of a loop ?
#func read  enumerate and zip
#revise list ques
#what is dictionary what are its usage