In [ ]:
#python--version

founder:guido van rossum

fundamentals of python
1. interger
2. varables
3. functions
4. datatype
5. input(),print()
6. float
7. typecasting: to change value from one data type to another the cast of the thing

VARIABLES:
this is  a container to store values
a=56
b='sam'
c=78.00

(a)Global variable
--> entrirely modify
(b)Local Variable
-->specific block of code modify.

datatype;
(a) interger:...>all positive and negetive interger
ex. 23,34,,44
(b). Float---> all decimal values
ex---> 34.5

(c)string:  'single qoutes', "double_qoutrs", '''triple_quotes'''

 (D) Boolean:--> true,false
 ex: 5>4: true

In [ ]:
#typecasting
a=67
type(a)
b=float(a)
type(b)
b

67.0

In [ ]:
#print()function:

a=1
print(a)
print("printing a")
b=2
print("printing b")
print(b)

1
printing a
printing b
2

In [ ]:
a= int(input("enter 1st unmber:"))
b=int(input("enter2 nd nuber"))
c=a+b
c
#this is type casting

enter 1st unmber: 12
enter2 nd nuber 12

24

In [ ]:
a= (input("enter 1st unmber:"))
b=(input("enter2 nd nuber"))
c=a+b
c

enter 1st unmber: 12
enter2 nd nuber 12

'1212'

commnly used operators:
1. Add: 5+3=8
2. sub: 5-3=2
3. mul : 5*3=15
4. division: 5/3=1.6
5. floor division(//) --> round 5//3 =1
6. module(%)--> remandier cal =  25%10=5(rem)
7. equal to (=) --> assgin values a=10,b='aan'
8. eqal equal to (==)--> for comparsion
9. not equal to (!=) --> 'sam'!=10
10. grater than  5>4
11. less than   4<5
12. greater than or equalto >=
13. less than or equal to <=

conditional satement in python
1. if
2. else
3. elif

In [ ]:
#ex.1

a=input("enter ur name")
if(a=='sam'):
 print("yes")
elif(a=='rahul'):
 print("no")
elif(a=='ankit'):
 print("ok")
else:
 print("print a valid name...")

enter ur name ankit

ok

In [ ]:
#ex2

print("we provide these items: pizza,burger,icecream,sandwich")
print("MENU: Pizza=100 , burger=50 ,icecream=50,sandwich=100")



a=input("enter your item:  ")

if(a=="pizza"):
  print("pizza is availbale")
  b=int(input("enter the number : "))
  print("total price : ", b*100)
  c=b*100
  if(c<=1000):
    print("your 10% discounted price  is : ", c-(c*0.1))
  elif(1000<c<2000):
    print("your 10% discounted price  is : ", c-(c*0.1))
  elif(c>=2000):
    print("your 20% discounted price  is : ", c-(c*0.2))
  elif(c>1000):
   print("your price  is : ", c)

#for burger
elif(a=="burger"):
 print("burger is availbale")
 b=int(input("enter the number : "))
 print("total price : ", b*50)
 c=b*50
 if(c<1000):
    print("your amount is",c)
 elif(1000<c<2000):
  print("your 10% discounted price  is : ", c-(c*0.1))
 elif(c>=2000):
  print("your 20% discounted price  is : ", c-(c*0.2))
 elif(c>=1000):
  print(" you have given 10% discount", c-(c*0.1))

#for icecream
elif(a=="icecream"):
 print("icecream  is availbale")
 b=int(input("enter the number : "))
 print("total price : ", b*50)
 c=b*50
 if(c<1000):
    print("your amount is",c)
 elif(1000<c<2000):
  print("your 10% discounted price  is : ", c-(c*0.1))
 elif(c>=2000):
  print("your 20% discounted price  is : ", c-(c*0.2))
 elif(c>=1000):
  print(" you have given 10% discount", c-(c*0.1))

#for sandwich
elif(a=="sandwich"):
 print("sandwich is availbale")
 b=int(input("enter the number : "))
 print("total price : ", b*100)
 c=b*100
 if(c<1000):
    print("your amount is",c)
 elif(1000<c<2000):
  print("your 10% discounted price  is : ", c-(c*0.1))
 elif(c>=2000):
  print("your 20% discounted price  is : ", c-(c*0.2))
 elif(c>=1000):
  print(" you have given 10% discount", c-(c*0.1))

else:
 print("invalid item")

we provide these items: pizza,burger,icecream,sandwich
MENU: Pizza=100 , burger=50 ,icecream=50,sandwich=100
enter your item:  icecream
icecream  is availbale
enter the number : 10
total price :  500
your amount is 500

In [ ]:
a=100
b=100*0.1
b
c=a-b
c

90.0

In [ ]:
#student information system
#user (pyhton , java , mernstack)
#--> fees, timeduration

In [ ]:
print(" hello there please select your course: ")
print("1.python")
print("2.java")
print("3.mernstack")
a=(input("enter your course: "))
if(a=='python'):
 print("your have selected python , the course fee is 1000rs and the duration is 3 months")
elif(a=='java'):
 print("your have selected java , the course fee is 2000rs and the duration is 4 months")
elif(a=='mernstack'):
 print("your have selected mernstack , the course fee is 3000rs and the duration is 5 months")
else:
 print("invalid course")

 hello there please select your course:
1.python
2.java
3.mernstack
enter your course: mern
invalid course

In [ ]:
#loops in python

In [ ]:
#1. for loop
#index=0 , length=1
#starting values will include and last value will exclude

In [ ]:
#method-1
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

here 2 is the gap

In [ ]:
#nested for looop

In [ ]:
for i in range(3):
  for j in range(2):
    print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

In [ ]:
i = input("enter your name: ")
print(f"hello , {i}, thank you for reaching out")

enter your name: aman
hello , aman, thank you for reaching out

In [ ]:
#star pattern :

In [ ]:
n= 5
for i in range(1,n+1):
  print("*"*i)

*
**
***
****
*****

In [ ]:
#hollow star pattern

In [ ]:
n=5
for i in range (1,n+1):
  if i==1 or i==n:
   print("*" * i)#for 1st and last rows
  else:
    print("*" + " " * (i-2) + "*")#middle rows with sapces

*
**
* *
*  *
*****

In [ ]:
#pyramid pattern

In [ ]:
n=5
for i in range(1,n+1):
  print(" " * (n-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
# n=5 ,i=1
#  " "*(5-1)+" *" * (2*1-1)

#this is the logic

In [ ]:
#While Loop

#1. initialization
#2.condition
#3.increment or decrement

In [ ]:
#printing 1 to 4
i=1
n=4
while i<=n : #condition
  print(i)
  i=i+1 #increment

1
2
3
4

In [ ]:
i = int(input("enter a number: "))
n=int(input("enter last  number: "))
p= int(input("enter the gap: "))
while(i<=n):
  print(i)
  i=i+p

enter a number: 1
enter last  number: 20
enter the gap: 5
1
6
11
16

In [ ]:
#reversing the numbers

In [ ]:
i= 5
n=1
while(i>=n):
  print(i)
  i=i-1

5
4
3
2
1

In [ ]:
#sum of elements
i=1
n=4
sum=0
while(i<=n):
 sum=sum+i
 i=i+1
print(sum)

10

In [ ]:
print("enter your name")
name=input()
print("hello",name)

enter your name
aman
hello aman

In [ ]:
#take three variable:

a=int(input("enter 1st value"))
b=int(input("enter 2nd value "))
c=int(input(" enter 3d value"))

if (a>b and a>c):
  print("a is greater: ")
elif(b>a and b>c):
  print("b isgreater: ")
else:
  print("c is greaterr: ")

enter 1st value20
enter 2nd value 40
 enter 3d value50
c is greaterr

In [ ]:
x=10                                                     #pyhton is a dynamic typed programming language
if(x>=10):                                                   #automatically detect  datatype at runtime
  print("hello")

hello

In [ ]:
x=8                                                    #pyhton is a dynamic typed programming language
if(x>=10):                                                   #automatically detect  datatype at runtime
  print("hello")
else:
  print("false condition")

false condition

In [ ]:
x=12
y=20
x>10 and y>15

True

In [ ]:
x=5
y=20
if(x>10 or y>15):
  print("hello")
else:
  print("false condition")

hello

In [ ]:
# prompt: #variable is multiple of 2 and 6 print hi otherwise bye

x=int(input("enter a number"))
if(x%2==0 ):
  print("hi")
elif(x%6==0):
  print("hello")
else:
  print("bye")

enter a number17
bye

In [ ]:
# take a varialbe name as age if
#age>10 print child
# age>18 adult
#age>30 mature
#age >60 old citizen
#else infant

age=int(input("enter your age"))
if(age<=10 and age>=18):
  print("child")
elif(age>=18):
    print("adult")
elif(age>=30):
   print("mature")
elif(age>=60):
  print("old citizen")
else:
   print("infant")

enter your age20
adult

In [ ]:
#nested if else
age=int(input("enter your age"))
if(age>=5):
  print("addhar card is printed")
  if(age>=18):                                                       #be sure of any indentation
    print(" aadhar card  + pan card can be  linked")
  else:
    print("pan card not created")
else:
  print("age is small")

enter your age60
addhar card is printed
 aadhar card  + pan card can be  linked

In [ ]:
#if a number is div by2 print div by 2
#if a number is div by 3 print div by 6
#other wise number is not divisibele by 2 or 3

num=int(input("enter a number"))
if(num%2==0):
  print("this number is divisible by 2")
  if(num%3==0):
    print("this number is divisible by 3")
  else:
    print("this num is divisible by 6")
else:
  print("this num is not divisibele by 2 or 3")

enter a number12
this number is divisible by 2
this number is divisible by 3

In [ ]:
print("hey " , end= "- ")
print("hello")

hey - hello

In [ ]:
#learning assginmetn

#diff bw py ver2 and ver3 of pyhton

In [4]:
#slicing opertors
 #  right to left   ....-5-4,-3-2,-1
city ="RAJASTHAN"
    #  012345678.... left to right

print(city[0:3])
      #starting value: stopping value
print(city[0])

RAJ
R

In [7]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[2:5:1])
      #starting value: stopping value: skipping value(steep six=ze)
print(city[0])

JAS
R

In [12]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[:4])

RAJA

In [15]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[2:7:3])
#0 +2 =>2 ,

JT

In [16]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[0:4:-1])
#0 -1 => -1
#empty striing

In [17]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[-1:-3])
#-1+1=>0

In [18]:
city ="RAJASTHAN"
    #  012345678.... right to left

print(city[-1:-3:-1])
#-1+ -1=> -2

NA

In [20]:
city ="RAJASTHAN"
    #  012345678.... right to left
print(city[:])
print(city[::-1])

RAJASTHAN
NAHTSAJAR

In [22]:
#airthmetic

2*2*2
2**3

10/2 #normal division
10//2 #floor division givies answer in interger

5

In [23]:
11//2+5-1

9

In [26]:
#comparison operators
#assginment opererators
x=10
x+15 #x+=15

print(x)

10

In [28]:
y=6
y/=3   #y=y/3 or y//=3
print(y)

2.0

In [ ]:
#logical operators
#and or not
#and takes all coditions as true

In [32]:
#membership operator

"y" in "yash"
"z" in "yash"
"Y" in "yash"
"Y" not in "yash"
#checks y in yash

True

In [35]:
# identity operators
#check wheater a variable is a instance of a class  or not
# to check the same memory address
x=10
#print(type(x))
type(x) is int
type(x) is not str

False

In [36]:
#bitwise operator
# 2 bits in comp (0,1)(f,t)

#8421 =>0-15
# 128 64 32 16       8421=> 0-255
                       #8421
        #11           #1011
        #14           #1110
        #--------------------
       # 11 & 14      1010
                     # 8421
                  #---> 8+2=10
11 & 14  #--> gives ten ,  check the binary of the number, add them , and the resultant number will be the ans

10

In [37]:
13 & 7

5

In [39]:
10|14     #used or logic

14

In [40]:
# right bitwise shift ( right to left)
#number // 2 **bit
# 54>>3
#54 // 2**3
# 54//8 ==> 6

54>>3

6

In [ ]:
# left shift (left to right)
# num*2**bit