In [25]:
n=4
for i in range(n):
    for j in range(i+1):
        if j==0 or j==i:
            print("#" , end = "")
        else:
            print(" ", end = "")
    print()

for i in range(n):
    for j in range(n-i):
        if j==0 or j==n-i-1:
            print("#" , end = "")
        else:
            print(" ", end = "")
    print()

#
##
# #
#  #
#  #
# #
##
#

In [28]:
str1  = "regexian"
str2 = "tushar"
common_char = []
for i in range(0,len(str1)):
    for j in range(0,len(str2)):
        if str1[i] == str2[j]:
            common_char.append(str1[i])
print(len(common_char))

2

In [ ]:
input_str = "hello hey computer science new"
len_of_word = []
k = 4
words = input_str.split(" ")
output = [word for word in words if len(word)=k ]
print(output)

[]

In [48]:
input_str = "hello hey computer science new"
len_of_word = []
k = 4
words = input_str.split(" ")
output = [word for word in words if len(word) >= k]
print(output)
x = " ".join(output)
print(x)

['hello', 'computer', 'science']
hello computer science

In [56]:
n=5
for i in range(n):
    for j in range(i+1):
        print("$" , end  = "")
    for k in range(n-i):
        print("*", end = "")
    for l in range(n-i-1):
        print("*", end = "")
    print()

$*********
$$*******
$$$*****
$$$$***
$$$$$*

In [62]:
num = []
for i in range(1, 12):
    if i == 1:
        print("1 is not a prime")
        continue
    is_prime = True
    for j in range(2, int(i**0.5) + 1):  # Check divisors up to the square root of i
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i, "is a prime")
    else:
        print(i, "is not a prime")

1 is not a prime
2 is a prime
3 is a prime
4 is not a prime
5 is a prime
6 is not a prime
7 is a prime
8 is not a prime
9 is not a prime
10 is not a prime
11 is a prime

In [69]:
input_string = "ababa"  # Renamed the variable to avoid shadowing the built-in str
freq = {}
char = []
for i in range(len(input_string)):
    for j in range(i + 1, len(input_string) + 1):  # Adjusted range to include the last character
        substring = input_string[i:j]
        if substring in freq:
            freq[substring] += 1
            char.append(substring)
        else:
            freq[substring] = 1
print(freq)
print(char)

{'a': 3, 'ab': 2, 'aba': 2, 'abab': 1, 'ababa': 1, 'b': 2, 'ba': 2, 'bab': 1, 'baba': 1}
['a', 'ab', 'aba', 'b', 'ba', 'a']

In [90]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ", end=" ")
    for k in range(n-i):
        if k==0 or i==0 or k== n-i-1:
            print("*" , end = " ")
        else:
            print(" ", end = " ")
    print()

  * * * * *
    *     *
      *   *
        * *
          *

In [99]:
input_str = "aabcdeef"
dic1 = {x: input_str.count(x) for x in set(input_str)}
print(dic1.values())

dict_values([2, 1, 1, 2, 1, 1])

In [103]:
str= "yaashh331"
dic2 = {x:str.count(x)for x in str}
print(list(dic2.values()))

[1, 2, 1, 2, 2, 1]

In [123]:
n=4
num = 1
for i in range(n):
    for j in range(i):
        print("" , end = " ")
    for k in range(i,n):
        print( k+1, end = " ")
    print()

1 2 3 4
 2 3 4
  3 4
   4

In [121]:
for i in range(1, 5):  # Outer loop: controls the starting number of each line
    for j in range(i, 5):  # Inner loop: prints numbers from the current starting number up to 4
        print(j, end='')  # Print number without newline
    print()  # Move to the next line after printing each row

1234
234
34
4

In [ ]:
1234
234
34
4

In [ ]:
def is_pallindrome(number):
    for i in range(len(str(number))):
        for j in range(len(str(number)) - 1, -1, -1):
            if str(number)[i] != str(number)[j]:
                return False
        return True
x= int(number)
is_pallindrome(121)

TypeError: 'str' object is not callable

In [135]:
def is_palindrome(number):
    if not isinstance(number, int):
        raise TypeError("Input must be an integer.")
    if number < 0:
        return False
    num_str = str(number)  # Convert the number to a string
    return num_str == num_str[::-1]  # Compare the string with its reverse

number = 121
print(is_palindrome(number))  # Output: True

TypeError: 'str' object is not callable

In [163]:
n=4
num = 2*n-1
for i in range(n):
    for j in range(n-i):
        print(" ", end="")
    for k in range(i+1):
        print(num, end="")
    print()
    num-=2

    7
   55
  333
 1111

In [149]:
n = 4  # Total number of rows
k = 2 * n - 1  # Starting number to print

for i in range(n):  # i = current row index
    # Print spaces
    for j in range(n - i - 1):
        print("  ", end="")

    # Print number 'k' (i + 1) times
    for j in range(i + 1):
        print(k, end=" ")

    print()  # Newline after each row
    k -= 2  # Decrease number by 2 each row

      7
    5 5
  3 3 3
1 1 1 1

In [169]:
n=4
for i in range(n):
    for j in range(n-i):
        print(" ", end="")
    for k in range(i):
        print(k+1, end="")
    print()
    num-=2

   1
  12
 123

In [171]:
n=4
for i in range(n):
    for j in range(i+1):
        print(i+1 , end = " ")
    print()

1
2 2
3 3 3
4 4 4 4

In [191]:
n=5
num = 2*n-1
for i in range(1,n):
    for j in range(i):
        print(num, end=" ")
    print()

9
9 9
9 9 9
9 9 9 9

In [ ]:
1
33
555
7777

In [199]:
list1 = [10,30,40,20]
list1.sort()
print(list1)
x = list1[::-1]
print(x)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [200]:
d = {'a': 1, 'b': 2}
print(d.get('c', 3))

3

In [207]:
string = "banana"
words = []
freq = {}
for i in string:
    freq[i] = string.count(i)
print(freq)

{'b': 1, 'a': 3, 'n': 2}

In [210]:
list1 = [10,20,30]
list1.append([50])
list1.extend([50])

In [211]:
list1

[10, 20, 30, [50], 50]

In [212]:
dictionary = {'name':'aman', 'age':20}
dictionary.items()

dict_items([('name', 'aman'), ('age', 20)])

In [215]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common = [value for value in list1 if value in list2]
print(common)

[3, 4, 5]

In [226]:
words = ["apple", "banana", "strawberry", "kiwi"]
len_of_word = [len(x) for x in words]
x = max(len_of_word)
for i in words:
    if len(i)==x:
        print(i)

strawberry